* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color) !important;
    overflow-x: hidden;
}

:root {
    --text-color: #f0f0f0;
    --bg-color: #272727;
    --span-color: #636363;
    --text-shadow: #000000;

}

.buttons {
    display: flex;
    gap: 1rem;
}

.banner {
    position: relative;
    background-color: rgb(0, 0, 0);
    height: 350px;
    /* border: 1px solid black; */
}

#banner {
    background-image: url(/Jojos_Bizarre/Jojos_Bizarre_Images/jojos-bizarre-adventyre.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#thumbnail {
    background-image: url(/Jojos_Bizarre/Jojos_Bizarre_Images/jojos_bzare_thumbnail.jpg);
    background-size: cover;
}

.anime-thumbnail {
    left: 2.5%;
    position: relative;
    bottom: 40px;
    background-color: blueviolet;
    height: 300px;
    width: 200px;
    border-radius: 10px;

    /* position: relative;
    background-color: aqua;
    height: 300px;
    width: 200px;
     */
}

.thumbnail-title {
    position: relative;
    left: 2.5%;
    padding: 1.2rem;
}

.anime-details {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    /* display: flex;
    position: absolute;
    bottom: 30%;
    left: 2.5%; */
}

#Intro-bg {
    background-image: url(/Jojos_Bizarre/Jojos_Bizarre_Images/Intro-bg.jpg);
}

.Intro {
    height: 525px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
    /* border: 2px solid  black; */


#story-bg {
    background-image: url(/Jojos_Bizarre/Jojos_Bizarre_Images/jojos-bizarre-adventure-the-animation-10th-anniversary-v0-gvryc29k9hr81.jpg);
    /* background-size: cover; */
}
#Light-Yagami{
    width: 300px;
    height: 400px;
}
#L{
    width: 400px;
    height: 500px;
}
#Ryuk{
    width: 400px;
    height: 500px;
}
#Mello{
    padding: 1.5rem;
    height: 450px;
}
#Misa{
    position: relative;
    bottom: 2rem;
    width: 350px;
    height: 450px;}

#impact {
    background-image: url(data/DeathNote/impact.jpeg);

}
.layout-stands{
    flex-direction: column;
}

#Stands-bg {
    background-image: url(/Jojos_Bizarre/Jojos_Bizarre_Images/Stands.jpg);

}


#conclusion {
    background-image: url(/Jojos_Bizarre/Jojos_Bizarre_Images/conclusion.jpg);
}
#art-style {
    background-image: url(/Jojos_Bizarre/Jojos_Bizarre_Images/art-style.jpg);
}
#culture{
    background-position: center;
    background-image: url(/Jojos_Bizarre/Jojos_Bizarre_Images/reference.jpg);
}
#undertone{
    background-image: url(/Jojos_Bizarre/Jojos_Bizarre_Images/undertone.jpeg);
}
#part1{
    background-image: url(/Jojos_Bizarre/Jojos_Bizarre_Images/part1.png);
}
#part2{
    background-image: url(/Jojos_Bizarre/Jojos_Bizarre_Images/part2.jpeg);
}
#part3{
    background-image: url(/Jojos_Bizarre/Jojos_Bizarre_Images/part3.jpg);
}
#part4{
    background-image: url(/Jojos_Bizarre/Jojos_Bizarre_Images/part4.jpg);
}
#part5{
    background-image: url(/Jojos_Bizarre/Jojos_Bizarre_Images/part5.jpg);
}
#part6{
    background-image: url(/Jojos_Bizarre/Jojos_Bizarre_Images/part6.jpg);
}
.layout, .layout-stands {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    align-items: center;
    row-gap: 1rem;
}

.layout>p {
    font-size: 1.4rem;
    padding-top: 1rem;

}

section {
    margin-bottom: 4.5rem;
}

p {
    font-family: "Protest Strike", sans-serif;
    color: var(--text-color);
    text-shadow: 5px 8px 6px var(--text-shadow);

    
}

.rating {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: var(--span-color);
    padding-bottom: 1rem;
}

h1,
h4 {
    font-family: "Protest Strike", sans-serif;
    color: var(--text-color) !important;
    text-shadow: 5px 8px 6px var(--text-shadow);

}

.dark-overlay {
    /* position: absolute; */
    background-color: rgba(0, 0, 0, 0.568);
    height: inherit;

}

.btn,
.btn>span {
    font-family: "Poppins", sans-serif !important;
}

.area {
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
}

.area>img {
    max-width: 100%;
    position: relative;
    top: 2vh;
}

.area>p {
    font-size: 1.3rem;
}

@media only screen and (max-width: 768px) {
    .layout>p {
        font-size: 1rem;
    }

    /* .area #Piccolo-Gohan {
        position: relative;
        width: 30%;
        left: 15rem;

    } */

    /* .layout>.area {
        flex-direction: column;

    } */



    .area>img {
        visibility: hidden;
        width: 4px;
    }

}

@media only screen and (max-width: 701px) {
    .Intro {
        background-position: center;
    }

}

@media only screen and (max-width: 550px) {
    .anime-details {
        /* flex-direction: column; */
        align-items: center;
    }

    .layout>p {
        font-size: 0.8rem;
    }

}

/* @media only screen and (max-width: 474px) {

    #goku {
        width: 270px;
        left: 20%;

    }
} */