* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color) !important;
    overflow-x: hidden;
}

:root {
    --text-color: #f0f0f0;
    --bg-color: #272727;
    --span-color: #636363;
    --text-shadow: #000000;

}

.buttons {
    display: flex;
    gap: 1rem;
}

.banner {
    position: relative;
    background-color: rgb(0, 0, 0);
    height: 350px;
    /* border: 1px solid black; */
}

#banner {
    background-image: url(Death_Note_Images/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#thumbnail {
    background-image: url(Death_Note_Images/deathnote_thumbnail.jpg);
    background-size: cover;
}

.anime-thumbnail {
    left: 2.5%;
    position: relative;
    bottom: 40px;
    background-color: blueviolet;
    height: 300px;
    width: 200px;
    border-radius: 10px;

}

.thumbnail-title {
    position: relative;
    left: 2.5%;
    padding: 1.2rem;
}

.anime-details {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

#Intro-bg {
    background-image: url(Death_Note_Images/Intro-banner.jpg);
}

.Intro {
    height: 525px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



#story-bg {
    background-image: url(Death_Note_Images/Story-banner.jpg);

}
#Light-Yagami{
    width: 300px;
    height: 400px;
}
#L{
    width: 400px;
    height: 500px;
}
#Ryuk{
    width: 400px;
    height: 500px;
}
#Mello{
    padding: 1.5rem;
    height: 450px;
}
#Misa{
    position: relative;
    bottom: 2rem;
    width: 350px;
    height: 450px;}

#impact {
    background-image: url(Death_Note_Images/impact.jpeg);

}


#conclusion {
    background-image: url(Death_Note_Images/conclusion.jpg);
}
#light-yagami-bg{
    background-image: url(Death_Note_Images/City.jpg);
}
#Ryuk-bg{
    background-image: url(Death_Note_Images/Ryuk-bg.jpg);
}
#L-bg{
    background-image: url(Death_Note_Images/L-bg.jpg);
}
#Misa-bg{
    background-image: url(Death_Note_Images/Misa-bg.jpg);
}
#Mello-bg{
    background-image: url(Death_Note_Images/mello-bg.jpg);
}
.layout {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    align-items: center;
    row-gap: 1rem;
}

.layout>p {
    font-size: 1.4rem;
    padding-top: 1rem;

}

section {
    margin-bottom: 4.5rem;
}

p {
    font-family: "Protest Strike", sans-serif;
    color: var(--text-color);
    text-shadow: 5px 8px 6px var(--text-shadow);

    
}

.rating {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: var(--span-color);
    padding-bottom: 1rem;
}

h1,
h4 {
    font-family: "Protest Strike", sans-serif;
    color: var(--text-color) !important;
    text-shadow: 5px 8px 6px var(--text-shadow);

}

.dark-overlay {

    background-color: rgba(0, 0, 0, 0.568);
    height: inherit;

}

.btn,
.btn>span {
    font-family: "Poppins", sans-serif !important;
}

.area {
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
}

.area>img {
    max-width: 100%;
    position: relative;
    top: 2vh;
}

.area>p {
    font-size: 1.3rem;
}
@media only screen and (max-width: 1000px) {
    .col {
        display: none;
    }

}
.lineheight > p{
    text-shadow: none;
}
@media only screen and (max-width: 768px) {
    .layout>p {
        font-size: 1rem;
    }

    #story-bg {
        background-image: url(Death_Note_Images/story-mobile.jpg);

    }
    #light-yagami-bg {
        background-image: url(Death_Note_Images/light-mobile.jpg);

    }

    #L-bg {
        background-image: url(Death_Note_Images/L-mobile.jpg);
    }

    #Misa-bg {
        background-image: url(Death_Note_Images/Misa-mobile.png);
    }

    #Ryuk-bg {
        background-image: url(Death_Note_Images/ryuk-mobile.jpg);
    }

    #Mello-bg {
        background-image: url(Death_Note_Images/mello-mobile.jpg);
    }
    #conclusion {
        background-image: url(Death_Note_Images/conclusion-mobile.jpg);
    }
    #Intro-bg{
        background-image: url(Death_Note_Images/Intro-mobile.jpg);
    }


 img {
        display: none;
    }

}

@media only screen and (max-width: 701px) {
    .Intro {
        background-position: center;
    }

}

@media only screen and (max-width: 550px) {
    .anime-details {
        flex-direction: column;
        align-items: center;
    }

    .layout>p {
        font-size: 0.8rem;
    }

}

@media only screen and (max-width: 371px) {

    #story-bg > .layout > p {
        font-size: 0.7rem;
    }
} 